<% if products.any? %> 
  <% products.each do |stock_item| %>
  <li class="product_container col-xs-12 col-sm-6 col-md-6" id="<%= stock_item.product.id %>">
    <div class="product">
      <h3><%= stock_item.product.title %></h3>
      <strong>Category: </strong>
      <%= stock_item.product.gender %>
      <%= stock_item.product.category.title %><br>
      <h3>£ <%= stock_item.product.price %></h3>
      <h4>Available: <%= stock_item.quantity %></h4>
      <hr>
      <form action="/cart/add/<%= stock_item.id %>/" method="GET">
        <input type="number" min="1" value="1" name="quantity">
        <input type="submit" value="Add to cart">
      </form>
    </div>
  </li>
  <% end %>
<% else %>
  No products available at this moment
<% end %>