<div class="shopping_cart">
  <h2><span class="glyphicon glyphicon-shopping-cart"></span> My Shopping cart</h2>
  <hr>
  <div class="shopping_cart_products">
    <% cart.each do |cart_item| %>
      <%= cart_item.quantity %> 
      <%= cart_item.product.title %> | 
      <a href="/cart/<%= cart_item.id %>/delete/" class="glyphicon glyphicon-trash">Remove</a><br>
      Price: £ <%= cart_item.product.price %>
      <hr>
    <% end %>
  </div>
  <h4>Total: <%= CartProduct.total_items(cart) %> items<br>
  Voucher: £ -<%= discount %><br>
  Total price: £ <%= CartProduct.total_price(cart, discount) %></h4>
</div>

<form class="voucher_form" action="/apply/voucher/" method="POST">
  <input type="text" placeholder="Type in your voucher" name="voucher">
  <input class="btn btn-primary" type="submit" value="Apply voucher">
</form>