<ul class="products_list">
  <% if @products.any? %> 
    <% @products.each do |product| %>
    <li class="product" id="<%= product.id %>">
      <%= product.title %> / 
      <%= product.gender %>
      <%= product.category.title %>
      £ <%= product.price %>
      <form action="/cart/add/<%= product.id %>/" method="GET">
        <input type="text" name="quantity" value="1" size="1">
        <input type="submit" value="Add to cart">
      </form>
      Available: <%= product.quantity %>
    </li>
    <% end %>
  <% else %>
    No products available at this moment
  <% end %>
</ul>