<div class="shopping_cart">
  <h2>My Shopping cart</h2>
  <% @cart.each do |cart_item| %>
    <%= cart_item.product.title %> / 
    <%= cart_item.quantity %> items
    price: £ <%= cart_item.product.price %> / 
    <a href="/cart/<%= cart_item.id %>/delete/">Remove</a>
  <% end %>
  Total: <%= total_items(@cart) %> items
  Total price: £ <%= total_price(@cart) %>
</div>

<ul class="products_list">
  <% if @products.any? %> 
    <% @products.each do |stock_item| %>
    <li class="product" id="<%= stock_item.product.id %>">
      <%= stock_item.product.title %> / 
      <%= stock_item.product.gender %>
      <%= stock_item.product.category.title %>
      £ <%= stock_item.product.price %> / 
      Available: <%= stock_item.quantity %>
      <form action="/cart/add/<%= stock_item.id %>/" method="GET">
        <input type="number" min="1" value="1" name="quantity">
        <input type="submit" value="Add to cart">
      </form>
    </li>
    <% end %>
  <% else %>
    No products available at this moment
  <% end %>
</ul>