<ul class="products_list">
  <% @products.each do |product| %>
  <li class="product" id="<%= product.id %>">
    <%= product.title %>
    <%= product.gender %>
    <%= product.category.title %>
    £ <%= product.price %>
    Available: <%= product.quantity %>
  <% end %>
  </li>
</ul>